<!DOCTYPE html>
<!--Need to experiment with card tabs.  This is the initial way I will do different filters (show only subscribed, etc.) but it might look better if I use card tabs.
        Idea is to change the color of the button when selected (if you wanna only see read, click read and it'll turn blue), and others will just be actual buttons(sort by date vs views) 
    Consider changing color too, kinda bright.  
    Need pagination
    Need working search
    Need idea for read/unread differentiator
    Card links are slightly bigger than card-->
<html>

<head>
    <title>User</title>
    <%- include('styles'); -%>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="section"></div>
    <main>
        <center>
            <div class="container">
                <div class="row">
                    <h1>Blog Posts</h1>
                </div>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s10">
                                <input id="search" type="text">
                            </div>
                            <button type='submit' name='btn_search'
                                class='col s2 btn btn-large waves-effect indigo'>Search</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="container" style="min-width: 80%;">
                <div class="row">
                    <div class="feed-button">
                        <div class="col s2">
                            <a href="/feed" class="indigo lighten-3 waves-effect waves-light btn-large">Date</a>
                        </div>
                        <div class="col s2">
                            <a class="indigo lighten-3 waves-effect waves-light btn-large">Views</a>
                        </div>
                        <div class="col s2">
                            <a href="/login" class="indigo lighten-3 waves-effect waves-light btn-large">Unread</a>
                        </div>
                        <div class="col s2">
                            <a href="/login" class="indigo lighten-3 waves-effect waves-light btn-large">Read</a>
                        </div>
                        <div class="col s2">
                            <a href="/profile/1"
                                class="indigo lighten-3 waves-effect waves-light btn-large">Subscribed</a>
                        </div>
                        <div class="col s2">
                            <a href="/login" class="indigo lighten-3 waves-effect waves-light btn-large">Bookmarked</a>
                        </div>
                    </div>
                </div>
            </div>

        </center>
        <center>
            <div class="container feed-block-container">
                <div class="z-depth-2 row feed-block">
                    <% if (posts) { %>
                        <% for (let i = 0; i < posts.length; i++) { %>
                            <div class="row">
                                <div class="col s12">
                                    <a href="/read/<%=posts[i].id%>">
                                        <div class="card feed-card">
                                            <div class="row">
                                                <div class="col s1">
                                                    <h3>R</h3>
                                                    <div class="feed-divider"></div>
                                                </div>
                                                <div class="col s8">
                                                    <div class="card-content grey-text text-lighten-3">
                                                        <span class="card-title">
                                                            <div class="feed-card-title"><%= posts[i].title%></div>
                                                        </span>
                                                        <div class="feed-card-author"><%= posts[i].author%></div>
                                                    </div>
                                                </div>
                                                <div class="col s3">
                                                    <div class="card-content grey-text text-lighten-3">
                                                        <span class="card-title" style="text-align: right;">
                                                            <%= posts[i].date_posted.getDate(); %> <%= posts[i].date_posted.toLocaleString('default', { month: 'long' }); %> <%= posts[i].date_posted.getFullYear(); %> <br />
                                                            <%= posts[i].date_posted.getHours(); %>:<%= posts[i].date_posted.getMinutes(); %>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                    </a>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                    <ul class="pagination">
                        <% if (pageNum == 1) { %>
                            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        <% } else { let prevPage = parseInt(pageNum)-1;%>
                            <li class="waves-effect"><a href="/feed/<%=prevPage%>"><i class="material-icons">chevron_left</i></a></li>
                        <% } %>
                        <% if (isNextPage) { let nextPage = parseInt(pageNum)+1; %>
                            <li class="waves-effect"><a href="/feed/<%=nextPage%>"><i class="material-icons">chevron_right</i></a></li>
                        <% } else { %>
                            <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
            </div>
        </center>
    </main>
</body>