<!DOCTYPE html>
<html>

<head>
    <title>Posts</title>
    <%- include('styles'); -%>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="section"></div>
    <main>
        <center>
            <div class="container feed-block-container">
                <div class="z-depth-2 feed-block">
                    <% for(let i = 0; i < posts.length; i++) { %>
                        <div class="col s12">
                            <a href="/read/<%=posts[i].id%>">
                                <div class="card feed-card">
                                    <div class="row">
                                        <div class="col s1">
                                                <% if (posts[i].isRead) { %>
                                                    <h3>R</h3>
                                                <% } else { %>
                                                    <h3>U</h3>
                                                <% } %>
                                            <div class="feed-divider"></div>
                                        </div>
                                        <div class="col s8">
                                            <div class="card-content grey-text text-lighten-3">
                                                <span class="card-title">
                                                    <div class="feed-card-title"><%= posts[i].title %></div>
                                                </span>
                                                <div class="feed-card-author"><%= posts[i].author%></div>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="card-content grey-text text-lighten-3">
                                                <span class="card-title" style="text-align: right;">
                                                    <%= posts[i].date_posted.getDate(); %> <%= posts[i].date_posted.toLocaleString('default', { month: 'long' }); %> <%= posts[i].date_posted.getFullYear(); %> <br />
                                                    <%= posts[i].date_posted.getHours(); %>:<%= (posts[i].date_posted.getMinutes()<10?'0':'') + posts[i].date_posted.getMinutes(); %>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                            </a>
                        </div>
                    <% } %>
                    <div>
                        <ul class="pagination">
                            <% if (pageNum == 1) { %>
                            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                            <% } else { let prevPage = parseInt(pageNum)-1;%>
                            <li class="waves-effect"><a href="/profile/posts/<%=posts[0].id_account%>/<%=prevPage%>"><i class="material-icons">chevron_left</i></a></li>
                            <% } %>
                            <% if (isNextPage) { let nextPage = parseInt(pageNum)+1; %>
                            <li class="waves-effect"><a href="/profile/posts/<%=posts[0].id_account%>/<%=nextPage%>"><i class="material-icons">chevron_right</i></a></li>
                            <% } else { %>
                            <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                            <% } %>
                        </ul>
                    </div>
                    <div class="row">
                        <a class='col s2 offset-s10 btn btn-large waves-effect blue' style="position: relative; right: 10px;" href="/profile/<%=posts[0].id_account%>">Return</a>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </center>
    </main>
</body>