<!DOCTYPE html>
<html>

<head>
    <title>Write</title>
    <%- include('styles'); -%>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Include stylesheet -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>

<body>
    <main>
        <center>
            <div class="container" style="margin-bottom: -45px;">
                <div class="row">
                    <h1>Write</h1>
                </div>
        </center>
        <div class="container" style="min-width: 95%;  padding: 3vh 0vh 0vh 0vh;">
            <form class="z-depth-2 row write-card" method="post">
                <div class='row' style="margin-bottom: 5px;">
                    <div class='input-field col s12'>
                        <% if (title != '') { %>
                        <input class='validate' type='text' name='title' id='title' value='<%= title%>'  maxlength="200" />
                        <label for='title'>Create a title</label>
                        <% } else { %>
                        <input class='validate' type='text' name='title' id='title'  maxlength="200" />
                        <label for='title'>Create a title</label>
                        <% } %>
                    </div>
                </div>
                <!-- Create the editor container -->
                <div class='row' style="padding: 0vh 0vh 1vh; max-width: 99%;">
                    <input name="deltaText" type="hidden">
                    <input name="htmlText" type="hidden">
                    <input name="stringText" type="hidden">
                    <div class='editor-wrapper'>
                        <div class="z-depth-2">
                            <div id="editor">
                                <% if (posts != '') { %>
                                <%- posts%>
                                <% } else { %>
                                <p>Here is some initial text. Enter anything like what you did today, something cool, or
                                    maybe a story!</p>
                                <p><br></p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row' style="margin-bottom: 5px;">
                    <div class='input-field col s12'>
                        <% if (tags != '') { %>
                        <input class='validate' type='text' name='tags' id='tags' value='<%= tags%>' />
                        <label for='tags'>Tags (separate by space)</label>
                        <% } else { %>
                        <input class='validate' type='text' name='tags' id='tags' />
                        <label for='tags'>Tags (separate by space)</label>
                        <% } %>
                    </div>
                </div>
                <div class='row'>
                    <div class="switch col s3">
                        <label>
                            <% if (vis != '') { %>
                            Private
                            <input type="checkbox" name="visibility" checked='checked'>
                            <span class="lever"></span>
                            Public
                            <% } else { %>
                            Private
                            <input type="checkbox" name="visibility">
                            <span class="lever"></span>
                            Public
                            <% } %>
                        </label>
                    </div>
                    <a class='col s2 offset-s4 btn btn-large waves-effect blue' style="position: relative; right: 10px;"
                        href="/">Home</a>
                    <button type='submit' name='btn_search'
                        class='col s2 offset-s1 btn btn-large waves-effect blue'>Submit</button>
                    <%if (errors) { %>
                    <div style="text-align: right; position: relative; top: 15px;">
                        <ul>
                            <% for(var i = 0; i < errors.length; i++) {%>
                            <li><%= errors[i].msg %></li>
                            <% } %>
                        </ul>
                    </div>
                    <% } %>
                </div>
            </form>
        </div>

        <!-- Include the Quill library -->
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

        <!-- Initialize Quill editor -->
        <script>
            var quill = new Quill('#editor', {
                theme: 'snow'
            });
            var form = document.querySelector('form');
            form.onsubmit = function () {
                // Populate hidden form on submit
                var deltaText = document.querySelector('input[name=deltaText]');
                var htmlText = document.querySelector('input[name=htmlText]');
                var stringText = document.querySelector('input[name=stringText]');

                //check if quill is empty
                if (quill.getText().trim().length === 0 && quill.container.firstChild.innerHTML.includes("img") === false) {
                    deltaText.value = '';
                    htmlText.value = '';
                    stringText = '';
                } else {
                    deltaText.value = JSON.stringify(quill.getContents());
                    htmlText.value = quill.root.innerHTML;
                    stringText.value = quill.getText();
                }
                console.log("Submitted", $(form).serialize(), $(form).serializeArray());
                return true;
            };

        </script>
    </main>
</body>